Repository microapidev/comment-microapi, pull requests merged in 2020-07, with the labels that each got.

#164 TEST: `GET /comment/:commentId/votes` Endpoint Test
  __test__/api/comment-get.test.js
  controller/commentsController.js
  controller/repliesController.js
  routes/replies.js
  utils/errorhandler.js
Labels: test

#218 Update eslint config to suppress eol errors
  .eslintrc.js
Labels: chore

#237 [TEST]: PATCH /comments/{commentId}/replies/{replyId}:
  __test__/api/comment-patch.test.js
  __test__/api/comment-vote.test.js
  controller/repliesController.js
Labels: test

#191 Get single comment
  controller/commentsController.js
Labels: enhancement

#241 Refactor tests
  __test__/api/comment-delete.test.js
  __test__/api/comment-get.test.js
  __test__/api/comment-patch.test.js
  __test__/api/comment-post.test.js
  __test__/api/comments/delete-comments.test.js
  __test__/api/comments/get-comments-id.test.js
  __test__/api/comments/get-comments-query.test.js
  __test__/api/comments/get-comments-votes-query.test.js
  __test__/api/comments/get-comments-votes.test.js
  __test__/api/comments/get-comments.test.js
  __test__/api/comments/patch-comments-flags.test.js
  __test__/api/comments/patch-comments-votes.test.js
  __test__/api/comments/patch-comments.test.js
  __test__/api/comments/post-comments.test.js
  __test__/api/index.test.js
  __test__/api/replies/delete-replies.test.js
  __test__/api/replies/get-replies-id.test.js
  __test__/api/replies/get-replies-votes.test.js
  __test__/api/replies/get-replies.test.js
  __test__/api/replies/patch-replies-flags.test.js
  __test__/api/replies/patch-replies-votes.test.js
  __test__/api/replies/patch-replies.test.js
  __test__/api/replies/post-replies.test.js
  __test__/api/reply-vote.test.js
  controller/commentsController.js
Labels: test

#273 Update tests to skip all but working ones
  __test__/api/comments/delete-comments.test.js
  __test__/api/comments/get-comments-id.test.js
  __test__/api/comments/get-comments-votes.test.js
  __test__/api/comments/get-comments.test.js
  __test__/api/comments/patch-comments-flags.test.js
  __test__/api/comments/patch-comments-votes.test.js
  __test__/api/comments/patch-comments.test.js
  __test__/api/comments/post-comments.test.js
  __test__/api/replies/delete-replies.test.js
  __test__/api/replies/get-replies-id.test.js
  __test__/api/replies/get-replies-votes.test.js
  __test__/api/replies/get-replies.test.js
  __test__/api/replies/patch-replies-flags.test.js
  __test__/api/replies/patch-replies-votes.test.js
  __test__/api/replies/patch-replies.test.js
  __test__/api/replies/post-replies.test.js
Labels: test

#283 Fix deleting a comment to match documentation standards
  __test__/api/comments/delete-comments.test.js
  controller/commentsController.js
Labels: enhancement

#330 Add bcryptjs as alternative to bcrypt
  package-lock.json
  package.json
  utils/auth/passwordUtils.js
Labels: bug

#333 [FIX] getAllReplies API Endpoint Test
  __test__/api/comment-get.test.js
  __test__/api/replies/getAllReplies.test.js
  controllers/repliesController/getAllReplies.js
Labels: test

#337 [TEST] Add integration tests to create single comment
  __test__/api/comment-post.test.js
  __test__/api/comments/createSingleComment.test.js
  controllers/commentsController/createSingleComment.js
Labels: test

#349 Add comment handler for uniform endpoint response
  __test__/api/comments/createSingleComment.test.js
  controllers/commentsController/createSingleComment.js
  controllers/commentsController/deleteSingleComment.js
  utils/commentHandler.js
Labels: enhancement

#353 [FIX] updateSingleComment API Endpoint Tests
  __test__/api/comment-patch.test.js
  __test__/api/comments/updateSingleComment.test.js
  docs/swagger.yaml
  routes/comments.js
  utils/validationRules/comments/updateSingleCommentSchema.js
  utils/validationRules/index.js
Labels: test

#352 Add integration test for delete comment endpoint
  __test__/api/comments/deleteSingleComment.test.js
  controllers/commentsController/deleteSingleComment.js
Labels: test

#356 Add unit test for comment handler
  __test__/utils/commentHandler.test.js
Labels: test

#377 [fix]: Delete comment replies
  models/comments.js
Labels: enhancement

#381 [TEST] updateSingleReplyUpVotes API Endpoint Tests
  __test__/api/replies/updateSingleReplyUpVotes.test.js
  controllers/repliesController/updateSingleReplyUpVotes.js
Labels: test

#360 TEST PATCH - updateSingleCommentFlags.js
  __test__/api/comments/updateSingleCommentFlags.test.js
  controllers/commentsController/updateSingleCommentFlags.js
Labels: test

#345 Fixed issue #340:getSingleCommentVotes
  __test__/api/comments/getSingleCommentVotes.test.js
Labels: test

#389 Test update create reply
  __test__/api/replies/createSingleReply.test.js
  controllers/repliesController/createSingleReply.js
  utils/replyHandler.js
Labels: test

#367 [Test] Delete Single Reply
  __test__/api/replies/deleteSinglereply.test.js
  controllers/repliesController/deleteSingleReply.js
Labels: test

#393 Update swagger
  docs/swagger.yaml
Labels: documentation

#498 Update getSelfMsAdmin.js
  controllers/msAdminsController/getSelfMsAdmin.js
Labels: enhancement

#507 bug: fix msadmins system settings update
  utils/validationRules/msadmins/settings/updateSystemSettingsSchema.js
Labels: bug
